/* ORDER LOG PAGE */
.orderdiv{
  background-color: black;
  
}
.obl1{
  display: flex;
  flex-direction: row;
}
.obl1{
  display: flex;
  flex-direction: row;
  background-color: aqua;
}
.orderbutton{
  background-color: black;
  padding-left: 50px;
}
