@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: Josefin Sans;
  src: url(A:\servemyself-fe\JosefinSans-VariableFont_wght.ttf);
}

:root {
  --color1: #6b4e4f;
  --color2: #f1cab9;
}
video{
  width: 250px;
  height: 250px;
}
#body {
  font-family: 'Josefin Sans';

  user-select: none;
  padding-top: 15px;
  padding-bottom: 100%;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--color1);
  background-color: white;
  /* background-image: url("../public/Images/52033766931_79be1be305_h.114.jpg"); */
  background-size: contain;
  background: var(--color2);
}
#back ,h2{
  display: inline;
}
input::file-selector-button {
  border-radius: 7px;
  border-width: 0.1px;
  background-color: white;
  border-color: var(--color1);
  color: var(--color1);
  box-shadow: 0px 0.5px 0.6px;
  background: var(--color2);
}
button{
  border-radius: 7px;
}
.col{
  background: var(--color2);
}
form , .list-group{
  padding-top: 5px;
  border-radius: 8px;
  font-family: 'Josefin Sans';
  font-size: calc(15px + 0.390625vw);
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.822);
}
h2 {
  padding :15px ;
  font-weight: bold;
  font-family: 'Josefin Sans';
}


#Lgbtn, #Regbtn , #Gstbts {
  border-radius: 7px;
  background-color: white;
  border-color: var(--color1);
  color: var(--color1);
  box-shadow: 0px 0.5px 0.6px;
  background: var(--color2);
}
#Lgbtn:hover ,#Regbtn:hover , #Gstbts:hover{
  transition-duration: 0.2s;
  box-shadow: 0px 2px 2.4px;
}

#Regbtn{
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 25px;
}
#Lgdiv {
  padding-left: 15px;
  padding-bottom: 10px;
}
#formlabels{
  padding-left: 10px;
  padding-top: 5px;
}
#notauser{
  font-family: 'Josefin Sans';
  font-size: calc(15px + 0.390625vw);
  font-weight: bold;
  padding-left: 2vw;
}
#qtydiv{
  align-self: end;
  margin-bottom: 5px;
  width: 150px;
  display: flex;
  flex-direction: row;
  height: 30px
}
#qtynum{
  font-size: 20px;
  padding: 0;
}
#inc-dec{
  background-color: rgba(255, 255, 255, 0.404);
  font-size: 30px;
  font-weight:350;
  border-color: black;
}

#general{
  font-family: 'Josefin Sans';
  padding-left: 20%;
  padding-right: 20%;
}
#navbuttons{
  display: flex;
  flex-direction: column;
  margin-left: "100px";
  background-color: rgba(248, 248, 248, 0.596);
  border-radius: 8px;
  padding-bottom: 100%;
}

#listitemparent{
  margin-left: 8px;
}

#addstuff{
  width: fit-content;
  margin-left: 10px;
  margin-bottom: 10px;
}

#addstuffdiv{
  justify-content: center;
  flex-direction: column;
}

#itemdiv{
  padding-left: 3px;
  padding-top: 5px;
  padding-right: 2px;
  justify-content: center;
  align-items: center;
  border-color: white;
  border-radius: 8px;
  height: 100px;
}
#listitem{
border-width: 5px;
border-color: var(--color2);
}


#itemdesc{
  background-color: rgba(255, 255, 255, 0.466);
  border-radius: 7px;
  height: 65px;
  width: 70%;
  padding-left: 5px;
  padding-top: 2px;
}
#itemprice{
  float:right;
  margin-bottom: 0;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 7px;
  position: relative;
  line-height: 20px;
}
#itemname{
  border-radius: 5px;
  margin-bottom: 2px;
  padding-left: 5px;
  padding-right: 10px;
  width: fit-content;
  font-weight: 500;
  font-size: large;
  line-height: 20px;
}
#itemname,#itemprice{
  display: inline-block;
}

#img{
  float: left;
  width: 90px;
  height: 90px;
  vertical-align: middle;
  border-radius: 7px;
}
.card-img-left{
  background-color: white;
  border-radius: 7px;

}
#delitem{
  width: 30px;
  height: 30px;
  float: right;
  font-size: 20px;
  
}
#delitem, #itemdesc{
  display: inline-block;
}
#saveitem{
  display: flex;
  flex-direction: column;
  width: 100%;
}

#buts{
  float: right;
  display: flex;
  flex-direction: column;
}
.card.horizontal{
  display: flex;
  flex:1 1 auto;
}

#tibform-group{
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
  
}
/* ORDER LOG PAGE */
#orderdiv{
  margin-bottom: 10px;
  
}
#order{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.459);
  border-style:solid;
  border-color: var(--color2);
}
#orderheader{
  display: flex;
  flex-direction: row;
}
#table{
  width: 140px;
}
#table,#status{
  margin-top: 3px;
  margin-left: 15px;
  margin-bottom: 5px;
  font-size: 20px;
}

#obl1{
  display: flex;
  flex-direction: row;
}
#obl2{
  display: flex;
  flex-direction: row;
}
#orderbutton{
  color: var(--color1);
  width: 135px;
  margin-left: 15px;
  margin-bottom: 10px;
  border-color: var(--color1);
  border-radius: 15px;
  background: var(--color2)
}
#formlabetable{
  width: 200px;
}
#profileheader{
  color: aliceblue;
}
#btn{
  
  border-radius: 7px;
  background-color: white;
  border-color: white;
  color: black;
  box-shadow: 0px 0.5px 0.6px;
}
#page{

  background-color: bisque;
}
#gen{
  background-color: bisque;
  padding-left: 20%;
  padding-right: 30.5%;
  padding-bottom: 100%;
}
#navbuttons{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: "auto";
  background-color: rgba(248, 248, 248, 0.596);
  border-radius: 8px;
  padding-bottom: 100%;
}
#navbuttonset1{
  margin-left: "auto";
  display:inline-block;
  padding-top: 15px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 25px;
  border-radius: 8px;
}
#navbuttonset2{
  margin-left: "auto";
  display:inline-block;
  background-color: blanchedalmond;
  padding-top: 15px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 25px;
}
#navbuttonset3{
  margin-left: "auto";
  display:inline-block;
  background-color: blanchedalmond;
  padding-top: 15px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100%;
}
/* Category POPUP */
#CategoryItem{
  margin-left: 5px;
  background-color: var(--color2);
  border-radius: 5px;
  height: 30px;
  display: flex;
  flex-direction: row;
  

}
#AddCategory{
  margin-left: 10px;
  margin-right: 10px;
  color: #80972d;
}
#CategoryDeleteButton{
  float: right;
}
#CategoryName{
  font-size: 20px;
  padding-left: 5px;
  width: 500px;
}
#CategoryEditInput{
  margin-left: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-bottom: 2px;
  padding-top: 5px;
  padding-left: 5px;
}
#CategoryNavbar{
  position:sticky;
  padding: 3px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 5px;
}
#CategoryNavButton{
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  transition: opacity 0.5s ease-in-out;
  display: inline-block;
}
#CategoryNavButton:hover{
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  background: var(--color2);
  color: #80972d
}
input{
  border-radius: 7px;
  border-width: 1px;
  border-color: grey;
  border-style:hidden;
  padding: 2px;
  padding-left: 8px;
}
input:focus{
  border-top-color: aquamarine;
  border-width: 2px;
  border-radius: 7px;
}
#qrtextresult{
  font-weight: bold;
  font-size: large;
  margin-left: 25px;
  margin-top: 25px;
}
